.rect-board {
    display: flex;
    flex-direction: column;
    font-family: monospace;
}

.rect-board-row {
    display: flex;
    flex-direction: row;
}

.default-rect-game-piece {
    display: block;
}

.default-rect-game-piece::after {
    content: attr(data-player);
}