body {
    position: absolute;
    top:      0;
    left:     0;
    width:    100vw;
    height:   100vh;
    overflow: hidden;
    margin:   0;
    padding:  0;
}

main {
    width:           100%;
    height:          100%;
    display:         flex;
    align-items:     center;
    justify-content: center;
}

#main-board {
    width: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#top, #bottom {
    box-sizing: border-box;
    height: 5vh;
    min-height: 5vh;
    max-height: 5vh;
    flex: 0;
}

#main-board:has(#top)>*{
    width: 95vh;
}
#main-board:has(#bottom)>*{
    width: 95vh;
}
#main-board:has(#top):has(#bottom)>*{
    width: 90vh;
}

.rect-board {
    width:            100vh;
    flex: 1;
    background-image: url("../../_assets/board.png");
    background-size:  cover;
}

.rect-board-row {
    max-height: 60px;
}
.rect-board-cell {
    max-width: 60px;
}

.rect-board-row, .rect-board-cell {
    flex-basis: 0;
    flex-grow:  1;
    position:   relative;
}

:not([data-is-last]) > .rect-board-cell:not([data-is-last])::before {
    position:       absolute;
    content:        "";
    outline:        2px solid black;
    outline-offset: -1px;
    display:        block;
    width:          100%;
    height:         100%;
    top:            50%;
    left:           50%;
    user-select:    none;
    pointer-events: none;
}

.board-game-piece {
    display:         flex;
    align-items:     center;
    justify-content: center;
    width:           100%;
    height:          100%;
    background-size: cover;
    position:        absolute;
    z-index:         1;
    top:             0;
    left:            0;
}

.board-game-piece.empty {
    border-radius: 50%;
    background-color: #0002;
    text-shadow: 0 0 2px white;
}

.board-game-piece[data-player="0"] {
    background-image: url("../../_assets/black.png");
    user-select:      none;
    pointer-events:   none;
}

.board-game-piece[data-player="1"] {
    background-image: url("../../_assets/white.png");
    user-select:      none;
    pointer-events:   none;
}

.winner-text {
    position:         absolute;
    display:          flex;
    width:            100%;
    height:           100%;
    align-items:      center;
    justify-content:  center;
    background-color: #4f86;
    color:            white;
    font-size:        10vh;
    text-shadow:      0 0 15px black;
    user-select:      none;
    pointer-events:   none;
    z-index: 2
}